/*CSS */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #11141c;
}

.login-card {
    background-color: white;
    padding: 40px;
    width:25%;
    border-radius: 12px;
    max-width: 400px;
    border: 1px solid #e5e7eb;
}

.login-title {
    text-align: center;
    font-size: 24px;
    color: #111827;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.login-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 5px;
}

.login-input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    box-sizing: border-box;
}

.login-input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.login-button {
    width: 100%;
    background-color: #1c3977;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


